body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  background-color: #FF7B54;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
   color: #434242
}

.board {
  margin: auto;
  width: 50%;
}

.board div {
  background-color: #FFFFE8;
  height: 10rem;
  width: 32%;
}

.field1{
  float: left;
  margin-left: 1%;
}

.field2 {
  margin-left: 1%;
  float: left;
  
}

.field3 {
  margin-left: 1%;
  float: left;
}

.field4 {
  float: left;
  margin: 1% 0 0 1%;
}

.field5 {
  margin: 1% 0 0 1%; 
  float: left;
  
}

.field6 {
  margin: 1% 0 0 1%;
  float: left;
}

.field7 {
  float: left;
  margin: 1% 0 0 1%;
}

.field8 {
  margin: 1% 0 0 1%; 
  float: left;
  
}

.field9 {
  margin: 1% 0 0 1%;
  float: left;
}

.board p {
  font-size: 3rem;
  text-align: center;
}

.headers h1 {
  font-size: 4rem;
  text-align: center;
}

.headers p {
  font-size: 2rem;
  text-align: center;
}

.footer {
  position: absolute;
  display: block;
  bottom: 0px; 
  left: 45% ;
  text-align: center;
  
}

button {
  background-color: #E1D7C6; /* Green */
  color: #434242;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-top: 3%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid #434242;
}

